---
layout: default
social:
 - name: twitter
   link: https://twitter.com/nahrwl
   icon: twitter.svg
 - name: github
   link: https://github.com/nahrwl
   icon: github.svg
 - name: linkedin
   link: https://www.linkedin.com/in/nahrwl
   icon: linkedin.svg
 - name: email
   link: mailto:nathan@nahrwl.me
   icon: email.svg
projects:
 - name: iCarnival
   description: iCarnival Punahou Carnival is the official Punahou Carnival iPhone app.
 - name: CongressJBot
   description: A robot for tracking the US Congress on reddit.
---


<div class="pure-u-1-1 pure-u-lg-1-2">
  <div class="inner" id="bio">
    <p>I'm <strong><u>Na</u>than <u>H</u>en<u>r</u>y <u>W</u>a<u>l</u>lace</strong>. 18. Born and raised in Honolulu, Hawaiʻi. Going to college in Los Angeles, California. Studying Art, Technology and the Business of Innovation at the University of Southern California's <a href="http://iovine-young.usc.edu" target="_blank">Iovine and Young Academy</a>. An independent developer and designer. Find me here:
    </p>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list" id="social-links">

        {% for social in page.social %}
        <li class="pure-menu-item">
          <a href="{{ social.link }}" target="_blank" class="pure-menu-link" onMouseOver="javascript:mouseoverSocialIcon(this);" onMouseOut="javascript:resetSocialIcon(this);">
            <!--[if lte IE 8]><img src="logo.png" /><![endif]-->
            <!--[if gt IE 8]><img src="logo.svg" /><![endif]-->
            <!--[if !IE]> --><object data="{{ social.icon | prepend: site.baseurl | prepend: "/svg/" }}" type="image/svg+xml"></object><!-- <![endif]-->
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
<div class="pure-u-1-1 pure-u-lg-2-2"></div>
<div class="pure-u-1-1 pure-u-lg-1-2">
  <div class="inner">
    <hr>
    <h1 class="page-heading">Projects</h1>

    <ul class="post-list">
      {% for project in page.projects %}
      <li>
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

        
        <p><h2><a class="post-link" href="{{ project.permalink | prepend: site.baseurl }}">{{ project.name }}</a></h2>{{ project.description }}</p>
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>
</div>
