<header class="site-header">
    <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

    <div class="pure-menu pure-menu-horizontal">
      <a href="{{ site.baseurl }}/" alt="{{ site.title }}" id ="logo" class="pure-menu-heading">
        <svg id="logo-svg" height="25px" width="136px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 655.3 120.6" enable-background="new 0 0 655.3 120.6" xml:space="preserve">
          <path d="M86.5,120.6H68.2L26.4,59v61.6H0V0h18.6l41.5,61.6V0h26.4V120.6z"/>
          <path d="M127.6,120.6h-28L142,0h24.9l42.6,120.6h-28l-5.5-15.3h-43L127.6,120.6z M154.5,38.7l-13.8,44.6h27.5L154.5,38.7z"/>
          <path d="M247.9,120.6h-26.4V0h26.4v55h33.6V0H308v120.6h-26.4V81.5h-33.6V120.6z"/>
          <path d="M354.5,120.6h-7.4h-19V0h33.9c28.8,0,52.4,23.4,52.4,52.2c0,16.8-7.9,31.7-20.3,41.3l18.3,27.1h-31.9l-11.1-16.4
          c-2.4,0.2-4.8,0.4-7.4,0.4h-7.4V120.6z M354.5,78.2h7.4c14.2,0,26-11.6,26-26c0-14.2-11.8-25.8-26-25.8h-7.4V78.2z"/>
          <path d="M448.7,120.6L415.5,0h27.3l18.3,66.4l9.6-35.2L479.2,0h22.1l2.6,9.6v0.2l15.5,56.6L537.8,0h27.3l-33.2,120.6H507l-16.8-60.9
          l-16.6,60.9H448.7z"/>
          <path d="M655.3,120.6h-43h-34.1V0h26.4v94.1h50.7V120.6z"/>
        </svg>
      </a>
      <nav class="site-nav">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="#" class="pure-menu-link red-yellow">about</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link yellow-green">manifesto</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link blue-purple">blog</a></li> 
        </ul>
      </nav>
    </div>

    <!--<nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>-->
</header>
