* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    @extend %vertical-rhythm;
    font-family: $base-font-family;
}

/**
 * Paragraphs
 */
p {
	font-family: $base-font-family;
	font-weight: $base-font-weight;

    a {
        @if $ie
            color: $brand-color;
            
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        @else 
            color: $text-color;
            border-bottom: 2px solid $trim-color;
            box-shadow: 0px -3px 0px $trim-color inset;


            transition: color $link-transition-speed ease-out, box-shadow $link-transition-speed ease-out, border-bottom $link-transition-speed ease-out;
            -webkit-transition: color $link-transition-speed ease-out, box-shadow $link-transition-speed ease-out, border-bottom $link-transition-speed ease-out;
            -moz-transition: color $link-transition-speed ease-out, box-shadow $link-transition-speed ease-out, border-bottom $link-transition-speed ease-out; 
            -o-transition: color $link-transition-speed ease-out, box-shadow $link-transition-speed ease-out, border-bottom $link-transition-speed ease-out;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $background-color;
                border-bottom: 2px solid $brand-color;
                box-shadow: 0px -16px 0px $brand-color inset;
            }
    }
}

/**
 * Links
 */
a {
    text-decoration: none;
    color: $brand-color;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

nav a {
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold-font-weight;
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
