* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#layout {
    margin: 4em 4em 0 4em;
}

/**
 * Pure Additions
 */

.pure-menu {
    font-weight: 700;
    font-family: 'Inconsolata', 'Menlo', Courier, monospace;
}

.pure-menu-active > .red-yellow.pure-menu-link,
.red-yellow.pure-menu-link:hover,
.red-yellow.pure-menu-link:focus {
    color: #fff;
    background-color: #FB2534;
    background-image:
    linear-gradient(
      to top right, 
      #FB2534, #FBBD26
    );
}

.pure-menu-active > .yellow-green.pure-menu-link,
.yellow-green.pure-menu-link:hover,
.yellow-green.pure-menu-link:focus {
    color: #fff;
    background-color: #90E92F;
    background-image:
    linear-gradient(
      to top right, 
      #FDF232, #90E92F
    );
}

.pure-menu-active > .blue-purple.pure-menu-link,
.blue-purple.pure-menu-link:hover,
.blue-purple.pure-menu-link:focus {
    color: #fff;
    background-color: #2F1AFE;
    background-image:
    linear-gradient(
      to top right, 
      #2F1AFE, #FB00FE
    );
}

/**
 * Other Stuff
 */

#logo-svg {
    height: 25px;
    width: 136px;
}

main {
    margin-top: 1em;
    padding: 0.5em;
}

#social-links > .pure-menu-item a {
    /*padding: 12.5px; /* 50% of the image height - 25px */
    height: 64px;
    width: 64px;
    text-align: center;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}

/**
 * Site header
 */

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
 
    &,
    &:visited {
        color: $grey-color-dark;
    }
}



/**
 * Site footer
 */
/*.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}*/



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    /*@include media-query($on-laptop) {
        font-size: 36px;
    }*/
}

.post-content {
    margin-bottom: $spacing-unit;

    /*h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }*/
}

/**
 * Media Queries
 */

 @media screen and (max-width: 48em) {
    #layout {
        margin: 4em 0 0 0;
    }
}

@media screen and (max-width: 35.5em) {
    #layout {
        margin: 1em 0 0 0;
    }
}
