
/**
 * Home page
 */

.row {
    width: 612px;
    padding: 0 $spacing-unit 0 $spacing-unit;
    margin: auto;

    // Vertical rhythm
    margin-bottom: $base-line-height * 2;

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: $spacing-unit;
        display: inline-block;
        //vertical-align: text-top;

        @extend %heading;
    }

    h2 {
        //vertical-align: text-top;
        margin: 0;
    }

    @include media-query($lg) {
        // width: 800px;
        padding: 0;
        width: 858px;

        ul {
            padding: 0;
        }
    }

    @include media-query($xl) {
        width: 1090px;
    }
}

#social {
    white-space: nowrap;

    > li {
        display: inline;
        padding-right: 40px;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    /*@include media-query($on-laptop) {
        font-size: 36px;
    }*/
}

.post-content {
    margin-bottom: $spacing-unit;

    /*h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }*/
}

