#layout {
	margin: 4em 4em 0 5em;
}

.inner {
	max-width: 35em;
	margin: 0 auto;
	padding: 0em 1em 0em 1em;
}

#header {
        padding: 0;
}

#bio {
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em;
}

.pure-menu {
	font-weight: $bold-font-weight;
	font-family: $base-font-family;
}

nav {
    .pure-menu-link {
        box-shadow: 0px 1000px 0px rgba(255,255,255,1) inset;

        transition: box-shadow $link-transition-speed, color $link-transition-speed;
        -webkit-transition: box-shadow $link-transition-speed, color $link-transition-speed;
        -moz-transition: box-shadow $link-transition-speed, color $link-transition-speed;
        -o-transition: box-shadow $link-transition-speed, color $link-transition-speed;
    }

    .red-yellow {
        background-color: #FB2534;
        background-image:
        linear-gradient(
          to top right, 
          #FB2534, #FBBD26
          );
    }

    .yellow-green {
        background-color: #90E92F;
        background-image:
        linear-gradient(
          to top right, 
          #FDF232, #90E92F
          );
    }

    .blue-purple{
        background-color: #2F1AFE;
        background-image:
        linear-gradient(
          to top right, 
          #2F1AFE, #FB00FE
          );
    }

    .pure-menu-active > .pure-menu-link,
    .pure-menu-link:hover,
    .pure-menu-link:focus {
       color: #fff;
       box-shadow: 0px 1000px 0px rgba(255,255,255,0) inset;
   }
}


#logo-svg {
	height: 25px;
	width: 136px;
}

main {
	
}

#social-links > .pure-menu-item a {
    /*padding: 12.5px; /* 50% of the image height - 25px */
    height: 64px;
    width: 64px;
    text-align: center;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    background-color: $background-color;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    /*@include media-query($on-laptop) {
        font-size: 36px;
    }*/
}

.post-content {
    margin-bottom: $spacing-unit;

    /*h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }*/
}


@media screen and (max-width: 48em) {
	#layout {
		margin: 4em 0 0 0;
	}
}

@media screen and (max-width: 35.5em) {
	#layout {
		margin: 1em 0 0 0;
	}
}